
/*DATOS PERSONALES*/
.tabla{
    background-color: white;
    width: 60%;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border-color: map-get($colorPalette, secundario);
    border-radius: 0 0 8px 8px;
    box-shadow: $sombra;
    border: 1px solid map-get($colorPalette, secundario);

    .tabla__fila{
        border: 1px solid  map-get($colorPalette, secundario);
        text-align: center;
    }        
}

/*INICIAR SESION*/

/* texto bienvenida, no te preocupes*/
.box__texto__bienvenida{
    @include flex-direction-center (row);
    width: 100%;
    font-size: map-get($sizes, 30);
    padding-top: 25px;
    text-align: center;
    .box__logo{
        margin-left: 13px;
    }   
}
/* texto TicTac */
.box__texto__tictac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: map-get($sizes, 18);
    padding-top: 5px;  
}

/* caja contenedora olvidaste contraseña, primera vez*/
.box__nuevo{
    @include flex-direction-center (column);
    height: 90px;
    margin-bottom: 105px;
    .box__recuperar{
        color: blue;
        font-family: map-get($estilos, fuente);
        font-size: map-get($sizes, 16);
        padding-bottom: 2px;
    }
}


/* texto ingresar datos de registro*/
.box__texto__recuperar{
    @include flex-direction-center (column);
    font-size: map-get($sizes, 30);
} 

//CARRUSEL
.carrusel{
    box-shadow: $sombra;
}

.boton{
    background-color: map-get($colorPalette, acento-activo);
}