.header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color:  #F1B6CA;
    width: 100%;
    height: 100%; 
    /*BARRA DE BÚSQUEDA*/
    .nav{
        gap: 5px; 
        width: 100%;
        height: 80px;
        background-color:  #F1B6CA;
        .nav__search{
            @include flex-row-start;
            width: 65%;
            height: 4rem;
            padding-top: 8px;
            z-index: 1;
            margin-left: 5%; 
            .nav__search__input{
                @include flex-row-start;
                padding-left: 4rem;
                border-color: white;
                font-size: map-get($sizes, 16);
                font-family: map-get($estilos, fuente);
                width: 80%;
                height: 2.5rem;
                padding: 6px 6px 2px 16px;
                margin: 5px 5px 5px;
                text-rendering: auto;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                cursor: text;
                z-index: 1; 
                border-style:none;
                background-color: white;
                border-radius: 4px 0 0 4px;
                box-shadow: $sombra;
            }
            .nav__search__button{
                @include flex-row-start;
                width: 2rem;
                height: 2.5rem;
                margin-top: 5px;
                margin-bottom: 5px;
                z-index: 1;
                border-style: none;
                background-color: white;
                border-radius: 0 4px 4px 0px;
                box-shadow: $sombra;
                .lupa{
                    margin-top: 5px;
                    margin-left: 2px;
                }   
            } 
        }
    }

    /*MENU HEADER*/
    .nav__menu__list{
        color: black;
        width: 70%;
        margin-left: 27% ;
        /* lista 1 con enlaces*/
        .nav__menu__itemlink{
            color: black;
            text-decoration: none;  
            display: block;
            font-size: map-get($sizes, 16);
            width: 15%;
            /* contenedor calendario/tabla*/
            .nav__menu__calendar{ 
                width: 100%;
                /* contenedor calendario*/
                .nav__menu__calendar__1{
                    @include flex-direction-center (row);
                    text-decoration: none;
                    padding: 5px 15px;
                    @include menuList;
                    width: 35vh;
                    height: 290px;
                    box-shadow: $sombra;
                    border: 1px solid map-get($colorPalette, secundario);
                    /*tabla calendario*/
                    .contenedor{
                        background-color: map-get($colorPalette, acento-inactivo);
                        width: 100%;
                        height: 200px;
                        border: 1px solid black;
                        td{
                            border: 1px solid black; 
                            align-items: center;
                            text-align: center;
                        }           
                    }        
                }            
            }                        
        }             
        /* lista 1 sin enlaces*/
        .nav__menu__item{
            color: black;
            text-decoration: none;
            width: 6%;
            height: 90%;
            margin-left: 6%;
            z-index: 1;
            /* contenedor sublista 1*/
            .nav__menu__sublist{
                width:35vh;
                @include menuList;
                border-color: map-get($colorPalette, secundario);
                box-shadow: $sombra;
                /* sublista con enlaces perfil*/
                .nav__menu__sublist__itemlink{
                    @include menuList;
                    border-color: map-get($colorPalette, secundario);
                    font-size: map-get($sizes, 14);
                    margin: 5px 5px 5px 5px;
                    text-decoration: none;
                }
            } 
        }
        /* lista 1 sin enlaces*/
        .nav__menu__item{
            color: black;
            text-decoration: none;
            width: 6%;
            height: 90%;
            margin-left: 6%;
            z-index: 1;
            /* contenedor notificaciones*/
            .nav__menu2__sublist{
                @include menuList;
                border-color: map-get($colorPalette, secundario);
                font-size: map-get($sizes, 14);  
                width: 35vh;
                box-shadow: $sombra;

                /* lista 2 sin enlaces notificaciones*/
                .nav__menu2__sublist__item{
                    width: 95%;
                    @include menuList;
                    border-color: map-get($colorPalette, secundario);
                    font-size: map-get($sizes, 14);  
                    margin: 5px 5px 5px 5px;
                }
            }
        }
    }
}
      
.header2{
    @include flex-row-start;
    width: 100%;
    height: 300px;
    background-color: map-get($colorPalette, primario);
}