.img{
    width: 80%;
    height: 300px;
}

.favoritos1{
    margin-left: 130px;
}

.imgIndex{
    width: 100%;
    height: 80%;
    padding-top: 50px;
}

//Imágenes sections
.imgG{
    box-shadow: $sombra;
}

.img__carrusel{
    height: 280px;
    margin: auto;
}

