.img{
    width: 80%;
    height: 300px;
}

.favoritos1{
    margin-left: 130px;
}

.imgIndex{
    width: 100%;
    height: 80%;
    padding-top: 50px;
}

.img__carrusel{
    width: 100%;
    height: auto;
    margin: auto;
}

.imgP{
    width: 100%;
    height: auto;
}