/*MEDIA QUERIES*/
/*Tablet*/
    
@media screen and (min-width:769px) and (max-width:1024px) {
    .grid__container { 
        /*background-color: orange;*/
        grid-template-areas: "header"
                            "slider"
                            "section1"
                            "section2"
                            "section3"
                            "footer"
            ;
        }
    .box__caja__logo, .box__caja__logo2 {
        display:none;
    }

    
    .header .nav .nav__search .nav__search__input{
        font-size: map-get($sizes, 14); 
    } 
    .header .nav .nav__search{
        margin-left: 5rem;  
    } 
    .navbar-toggler{
        position: absolute;
        margin-top: -12%;  
    } 
    .favoritos1{
        margin-left: 105px;
    }
    .titulo {
        font-size: 26px;
    }
    .container__banner .description3{
        font-size: map-get($sizes, 20);
    }
    .contenedor__servicios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .servicio__imagen{
        height: auto;
    }
}
    
/*MOBILE*/
@media screen and (max-width:769px) {
    .grid__container { 
        background-color: white;
        grid-template-areas:"header"
                            "slider"
                            "section1"
                            "section2"
                            "section3"
                            "footer";
    }
    .box__caja__logo, .box__caja__logo2 {
        display:none;
    } 
   
    .header .nav .nav__search .nav__search__input{
        font-size: map-get($sizes, 14); 
        padding: 6px 6px 2px 6px;
    } 
    .header .nav .nav__search{
        width: 80%;
        height: 4rem;
        padding-top: 8px;
        z-index: 1;
        margin-left: 4rem;  
    } 
    .favoritos1{
        margin-left: 245px;
    }
    .navbar-toggler{
        position: absolute;
        margin-top: -26%;
    }
    .box__logo{
        width: 15%;
        margin-left: 5px;
    }
    .box__logo2{
        width: 54px;
        height: 64px;
        justify-content: center;
        align-items: center;
    }
    .container__imgIndex{
        margin-top: 15px;
        margin-bottom: 5px;
        box-shadow: $sombra;
        border-color: map-get($colorPalette, secundario);
    }
    .description{
        font-size: map-get($sizes, 20);
    }
    .description2{
        font-size: map-get($sizes, 20);
    }
    .container__banner .description3{
        font-size: map-get($sizes, 20);
    }
    .nav__menu__item:hover > .nav__menu2__sublist{
        display: block;
    }
    
    /*Aparece calendario*/
    .nav__menu__itemlink:hover > .nav__menu__calendar{
        display: block;
    }
    .nav__menu__list li ul{
        display: block;   
    }
    .titulo2{
        font-size: 24px;
    }
    .header .nav__menu__list{
        margin-left: 20%;
    }
    .footer .footer1 .container__redes .colorL{
        margin-left: 19px;

    }
    .footer .footer1 .container__redes .colorI{
        margin-left: 18px;

    }
    .footer .footer1 .container__redes .colorW{
        margin-left: 18px;

    }
    .contenedor__servicios{
        display: grid;
        grid-template-columns: repeat(1);
    }
    .menu__servicios {
        display: flex;
        flex-direction: column;
    }
    .servicio__imagen{
        height: auto;
    }
}