$sombra: 2px 2px 7px black;

//maps
$sizes : (
    12: 12px,
    14: 14px,
    16: 16px,
    18: 18px,
    20: 20px,
    30: 30px
);

$estilos : (
    fuente: 'Roboto Condensed', 
    cFuente: black
);

$colorPalette : (
    primario:#DF6496,
    secundario: #D28900,
    acento-inactivo: #DFEADC,
    acento-presionado: #165107,
    acento-activo: #F1B6CA
);