.titulo2{
    font-size: 32px;
    margin-left: 50px;
    margin-top: 20px;
}

.titulo {
    font-size: 30px;
    font-family:  map-get($estilos, fuente);
}

.servicio{
    font-size: map-get($sizes, 18);
}

.titulo3{
    font-size: 30px;
    font-family:  map-get($estilos, fuente);
    margin-left: 170px;
    padding-top: 30px;
}

.titulo4 {
    font-size: 24px;
    font-family:  map-get($estilos, fuente);
    margin-left: 170px;
}